body {
  font-size: 15px;
  min-width: 320px;
  position: relative;
  line-height: 1.65;
  font-family: Proxima-ex, sans-serif;
  overflow-x: hidden;
  opacity: 1;
  color: #575757; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.wrap {
  display: grid;
  grid-template-columns: minmax(310px, 1170px);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 10px;
  height: 100%; }

.grid {
  display: grid; }

img {
  width: 100%;
  height: auto; }

h1 {
  font-size: 1.5rem; }

h2 {
  font-size: 1.4rem; }

h3 {
  font-size: 1.3rem; }

h4 {
  font-size: 1.2rem; }

h5 {
  font-size: 1.1rem; }

h6 {
  font-size: 1rem; }

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
  font-weight: normal; }

ul {
  margin: 0;
  padding: 0; }

li {
  list-style: none; }

a {
  color: #0CA3D4;
  text-decoration: none; }
  a:hover {
    color: #F86C59; }

.pulse {
  overflow: visible;
  position: relative;
  z-index: 1; }
  .pulse::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: inherit;
    border-radius: inherit;
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    transition: opacity 0.3s, -webkit-transform 0.3s;
    transition: opacity 0.3s, transform 0.3s;
    transition: opacity 0.3s, transform 0.3s, -webkit-transform 0.3s;
    -webkit-animation: pulse-animation 2s cubic-bezier(0.24, 0, 0.38, 1) infinite;
            animation: pulse-animation 2s cubic-bezier(0.24, 0, 0.38, 1) infinite;
    z-index: -1; }

@-webkit-keyframes pulse-animation {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1); }
  50% {
    opacity: 0;
    -webkit-transform: scale(1.5);
            transform: scale(1.5); }
  100% {
    opacity: 0;
    -webkit-transform: scale(1.5);
            transform: scale(1.5); } }

@keyframes pulse-animation {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1); }
  50% {
    opacity: 0;
    -webkit-transform: scale(1.5);
            transform: scale(1.5); }
  100% {
    opacity: 0;
    -webkit-transform: scale(1.5);
            transform: scale(1.5); } }

.pulse {
  overflow: visible;
  position: relative;
  z-index: 1; }
  .pulse::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: inherit;
    border-radius: inherit;
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    transition: opacity 0.3s, -webkit-transform 0.3s;
    transition: opacity 0.3s, transform 0.3s;
    transition: opacity 0.3s, transform 0.3s, -webkit-transform 0.3s;
    -webkit-animation: pulse-animation 2s cubic-bezier(0.24, 0, 0.38, 1) infinite;
            animation: pulse-animation 2s cubic-bezier(0.24, 0, 0.38, 1) infinite;
    z-index: -1; }

@keyframes pulse-animation {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1); }
  50% {
    opacity: 0;
    -webkit-transform: scale(1.5);
            transform: scale(1.5); }
  100% {
    opacity: 0;
    -webkit-transform: scale(1.5);
            transform: scale(1.5); } }

.btn {
  background: #F86C59;
  position: relative;
  text-transform: uppercase;
  text-align: center;
  padding: 10px 0px;
  justify-self: center;
  border-radius: 2px;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  -webkit-transition: background .5s ease;
  transition: background .5s ease;
  display: grid;
  grid-template-columns: minmax(100px, 200px); }
  .btn:hover {
    background: #fa978a; }
  .btn a {
    color: #fff;
    display: grid;
    align-self: center; }

.pagination {
  display: grid;
  margin-top: 50px;
  grid-template-columns: minmax(310px, 500px);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .pagination .pagination-inner {
    display: grid;
    grid-auto-flow: column;
    justify-items: center; }
  .pagination .next,
  .pagination .prev {
    display: grid;
    width: 10px;
    align-self: center; }

.navtop-small {
  display: none; }

.overfolw {
  overflow: hidden; }

.navwrapper {
  position: fixed;
  width: 100%;
  height: 70px;
  z-index: 9999999; }

.menuscroll {
  background: #fff;
  width: 100%;
  -webkit-transition: background 0.5s ease;
  transition: background 0.5s ease;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  z-index: 999999; }

.navtop {
  display: grid;
  grid-auto-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-template-columns: 1fr 3fr 0.7fr 1fr;
  grid-column-gap: 4%; }
  .navtop .logo {
    width: 150px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-self: center; }
  .navtop .menu {
    grid-auto-flow: column;
    grid-auto-columns: -webkit-max-content;
    grid-auto-columns: max-content;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .navtop .menu > li:hover {
      cursor: pointer; }
      .navtop .menu > li:hover > a {
        color: #F86C59;
        font-weight: bold;
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease;
        position: relative; }
        .navtop .menu > li:hover > a:after {
          content: "";
          position: absolute;
          border-bottom: 1px solid #F86C59;
          width: 100%;
          bottom: -10px;
          left: 0px;
          opacity: 1; }
    .navtop .menu > li > a {
      color: #0CA3D4;
      font-weight: bold;
      -webkit-transition: all 0.5s ease;
      transition: all 0.5s ease;
      position: relative; }
      .navtop .menu > li > a:after {
        content: "";
        position: absolute;
        border-bottom: 1px solid #F86C59;
        width: 100%;
        bottom: -10px;
        left: 0px;
        opacity: 0;
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease; }
    .navtop .menu li {
      text-transform: uppercase;
      display: grid;
      -ms-flex-line-pack: center;
          align-content: center;
      position: relative; }
      .navtop .menu li a {
        color: #0CA3D4;
        font-weight: bold;
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease;
        position: relative; }
    .navtop .menu ul {
      display: none; }
  .navtop .menu-item-has-children {
    position: relative; }
    .navtop .menu-item-has-children ul > li > ul {
      left: 101%;
      top: 0; }
  .navtop .sub-menu {
    position: absolute;
    top: 100%;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2); }
    .navtop .sub-menu .menu-item-has-children:after {
      content: "";
      position: absolute;
      background: url("../img/right-arrow.png") no-repeat;
      width: 10px;
      height: 10px;
      right: 5px;
      top: 30%;
      background-size: cover;
      background-position: center;
      -webkit-transform: rotate(-90deg);
              transform: rotate(-90deg);
      -webkit-transition: -webkit-transform 0.5s ease;
      transition: -webkit-transform 0.5s ease;
      transition: transform 0.5s ease;
      transition: transform 0.5s ease, -webkit-transform 0.5s ease; }
    .navtop .sub-menu .menu-item-has-children:hover:after {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg); }
    .navtop .sub-menu li {
      border-bottom: 1px solid #cccccc;
      padding: 0px 40px 0px 10px;
      font-size: 0.8rem;
      min-width: 250px;
      white-space: nowrap;
      background: #fafafa;
      width: 100%; }
      .navtop .sub-menu li a {
        padding: 10px 0; }
      .navtop .sub-menu li a:hover {
        color: #F86C59; }
      .navtop .sub-menu li:last-child {
        border-bottom: none; }
  .navtop .menu-item-has-children:hover > ul {
    display: grid; }
  .navtop .social {
    grid-auto-flow: column;
    font-size: 1.2rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around; }
    .navtop .social .icon {
      color: #0CA3D4;
      -webkit-transition: -webkit-transform 0.5s ease;
      transition: -webkit-transform 0.5s ease;
      transition: transform 0.5s ease;
      transition: transform 0.5s ease, -webkit-transform 0.5s ease; }
      .navtop .social .icon:hover {
        -webkit-transform: scale(1.1);
                transform: scale(1.1); }
  .navtop .btn {
    -ms-flex-item-align: center;
        align-self: center;
    padding: 10px;
    font-size: 0.8rem; }

.nav-top-hide {
  display: none;
  width: 100%;
  position: relative; }

.navtop-small {
  grid-auto-flow: column;
  grid-template-columns: 1fr 2fr;
  -ms-flex-line-pack: center;
      align-content: center; }
  .navtop-small .logo {
    justify-self: center;
    width: 150px; }
  .navtop-small .cross {
    display: grid;
    justify-self: end;
    margin-right: 100px; }
    .navtop-small .cross .hamburger-inner, .navtop-small .cross .hamburger-inner::before, .navtop-small .cross .hamburger-inner::after {
      height: 2px; }
    .navtop-small .cross .hamburger {
      padding: 0;
      display: grid;
      -ms-flex-line-pack: center;
          align-content: center; }

.navtop-small-inside {
  display: grid;
  background: #fff;
  grid-row-gap: 40px;
  padding-bottom: 50px;
  padding-top: 50px;
  text-align: center;
  border-top: 1px solid #e6e6e6; }
  .navtop-small-inside .social {
    grid-auto-flow: column; }
  .navtop-small-inside .socialwrap {
    grid-template-columns: minmax(100px, 250px);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .navtop-small-inside .menu {
    font-size: 1.3rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    grid-template-columns: minmax(310px, 500px); }
    .navtop-small-inside .menu .active {
      display: grid; }
    .navtop-small-inside .menu li {
      display: grid; }
    .navtop-small-inside .menu > li {
      -webkit-transition: background 0.5s ease;
      transition: background 0.5s ease; }
      .navtop-small-inside .menu > li > a {
        -webkit-transition: all .5s ease;
        transition: all .5s ease; }
        .navtop-small-inside .menu > li > a:hover {
          background: rgba(12, 163, 212, 0.2); }
    .navtop-small-inside .menu .sub-menu li {
      text-align: left;
      padding: 5px 0 5px 20px; }
    .navtop-small-inside .menu .menu-item-has-children {
      position: relative; }
      .navtop-small-inside .menu .menu-item-has-children:after {
        content: "";
        position: absolute;
        background: url("../img/right-arrow.png") no-repeat;
        width: 15px;
        height: 15px;
        right: 5px;
        top: 10px;
        background-size: cover;
        background-position: center;
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
        -webkit-transition: -webkit-transform 0.5s ease;
        transition: -webkit-transform 0.5s ease;
        transition: transform 0.5s ease;
        transition: transform 0.5s ease, -webkit-transform 0.5s ease; }
      .navtop-small-inside .menu .menu-item-has-children:hover:after {
        -webkit-transform: rotate(90deg);
                transform: rotate(90deg); }
    .navtop-small-inside .menu .menu-item-has-children:hover .sub-menu li {
      -webkit-transition: all 0.5s ease;
      transition: all 0.5s ease; }
    .navtop-small-inside .menu .menu-item-has-children:hover .sub-menu a {
      -webkit-transition: all .5s ease;
      transition: all .5s ease; }
    .navtop-small-inside .menu .menu-item-has-children:hover .sub-menu a:hover {
      background: rgba(12, 163, 212, 0.2); }
    .navtop-small-inside .menu ul {
      display: none; }

.wh-1280 {
  display: none !important; }

.wh-992 {
  display: none !important; }

.contnent {
  padding: 70px 0 20px;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-column-gap: 20px;
  grid-template-rows: -webkit-min-content -webkit-min-content;
  grid-template-rows: min-content min-content; }
  .contnent .content-inner h2 {
    text-transform: uppercase;
    margin: 20px 0;
    grid-row: span 1; }
  .contnent .content-article {
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    grid-column-gap: 10px; }
    .contnent .content-article .content-article-inner {
      display: grid;
      grid-template-rows: auto minmax(65px, -webkit-min-content);
      grid-template-rows: auto minmax(65px, min-content); }
      .contnent .content-article .content-article-inner .img {
        display: grid; }
        .contnent .content-article .content-article-inner .img img {
          display: grid;
          height: 100%;
          -o-object-fit: cover;
             object-fit: cover; }
        .contnent .content-article .content-article-inner .img a {
          position: relative; }
          .contnent .content-article .content-article-inner .img a:after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.2);
            z-index: 9999;
            top: 0;
            left: 0;
            -webkit-transition: background 0.5s ease;
            transition: background 0.5s ease; }
          .contnent .content-article .content-article-inner .img a:hover:after {
            background: rgba(0, 0, 0, 0); }
      .contnent .content-article .content-article-inner span {
        font-size: 1rem;
        color: #000; }

.aside {
  grid-row: span 2; }
  .aside h4 {
    background: #e6e6e6;
    padding: 10px;
    text-transform: uppercase;
    text-align: center;
    color: #000;
    margin: 20px 0; }
  .aside .categiry-inner {
    display: grid;
    grid-template-columns: 1fr 30px;
    grid-auto-rows: 30px;
    padding: 0 15px;
    grid-row-gap: 5px; }
    .aside .categiry-inner span {
      display: grid; }
    .aside .categiry-inner a:hover {
      color: #F86C59; }
    .aside .categiry-inner .count {
      background: #51cdf5;
      border-radius: 100%;
      font-size: 0.7rem;
      text-align: center;
      line-height: 30px;
      color: #fff; }
  .aside .categiry-inner-popular {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 5px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 15px; }
    .aside .categiry-inner-popular .img-thumb a {
      display: grid; }
  .aside .categiry-inner-recommend {
    display: grid;
    padding: 0 15px;
    grid-row-gap: 10px; }

.content-bottom {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  grid-column-gap: 10px;
  margin-top: 50px; }
  .content-bottom h4 {
    margin-bottom: 20px; }
  .content-bottom .content-bottom-img {
    display: grid;
    grid-row-gap: 10px; }
    .content-bottom .content-bottom-img .img {
      margin-bottom: 20px; }
  .content-bottom .content-bottom-txt {
    margin: 10px 0;
    padding: 10px 0;
    border-top: 1px solid #cccccc; }

.volonter {
  background: url("../img/Gruppa-2-1280x305.jpg");
  display: grid;
  padding: 50px 0;
  grid-row-gap: 30px; }
  .volonter h2 {
    color: #fff;
    text-align: center; }

.volonter_btn {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: minmax(310px, 400px);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center; }
  .volonter_btn .btn {
    background: rgba(255, 255, 255, 0);
    -webkit-box-shadow: none;
            box-shadow: none;
    border: 1px solid #fff;
    text-transform: inherit;
    color: #fff;
    padding: 15px;
    width: 200px; }
    .volonter_btn .btn:hover {
      background: rgba(255, 255, 255, 0.1); }

.singlepage_thumbnaul {
  display: grid;
  height: 500px;
  overflow: hidden;
  padding-top: 70px;
  position: relative; }

.singlepage_thumbnaul__img {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  overflow: hidden; }
  .singlepage_thumbnaul__img:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: inherit;
    -webkit-filter: blur(5px);
            filter: blur(5px);
    -webkit-transform: scale(1.1);
            transform: scale(1.1); }

.singlepage_thumbnaul__title {
  position: absolute;
  z-index: 99;
  width: 100%;
  height: 100%;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  color: #fff;
  text-align: center; }

.content_news-article {
  display: grid;
  grid-row-gap: 20px; }
  .content_news-article h2 {
    text-transform: uppercase; }

.content_news-article-inner {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr 2fr;
  grid-column-gap: 40px; }

.content_news-article-text {
  display: grid;
  grid-row-gap: 10px; }

.singlepage_category {
  display: grid;
  grid-row-gap: 10px;
  padding: 0 10px; }

.singlepage_categoty_inner {
  display: grid; }

.footer {
  background: #0CA3D4; }
  .footer .footer-inner {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr -webkit-min-content 1fr -webkit-min-content 1fr;
    grid-auto-columns: 1fr min-content 1fr min-content 1fr;
    padding: 50px 0; }

.hr {
  width: 1px;
  height: 85%;
  background: #fff;
  -ms-flex-item-align: center;
      align-self: center; }

.col1-footer {
  display: grid;
  justify-items: center; }
  .col1-footer .img-logo {
    display: grid;
    max-width: 200px;
    padding-bottom: 50px; }
  .col1-footer .text {
    color: #fff;
    font-size: 1rem;
    display: grid; }
    .col1-footer .text span {
      display: grid; }
  .col1-footer .social {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 55px;
    grid-column-gap: 10px;
    margin-top: 50px; }
    .col1-footer .social a:hover i {
      color: #F86C59; }
    .col1-footer .social a:hover .soc {
      border: 1px solid #F86C59; }
    .col1-footer .social .soc {
      border: 1px solid #fff;
      border-radius: 100%;
      text-align: center;
      line-height: 55px;
      font-size: 1.6rem;
      -webkit-transition: border .5s ease;
      transition: border .5s ease; }
      .col1-footer .social .soc i {
        color: #fff;
        -webkit-transition: color .5s ease;
        transition: color .5s ease; }

.col2-footer {
  display: grid;
  justify-items: center;
  color: #fff;
  grid-auto-rows: -webkit-min-content;
  grid-auto-rows: min-content; }
  .col2-footer span {
    font-size: 1.5rem; }
  .col2-footer .tel {
    display: grid;
    grid-template-columns: 1fr -webkit-min-content;
    grid-template-columns: 1fr min-content;
    margin-top: 50px;
    grid-row-gap: 10px; }
    .col2-footer .tel .big {
      font-size: 1.5rem;
      font-weight: bold;
      -ms-flex-item-align: end;
          align-self: end; }
    .col2-footer .tel .small {
      font-size: 0.8rem;
      color: rgba(255, 255, 255, 0.5);
      -ms-flex-item-align: end;
          align-self: end; }

.col3-footer {
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-auto-rows: -webkit-min-content;
  grid-auto-rows: min-content;
  color: #fff; }
  .col3-footer span {
    font-size: 1.5rem; }
  .col3-footer .subscribe {
    margin-top: 50px; }
    .col3-footer .subscribe form {
      display: grid;
      grid-row-gap: 20px; }
      .col3-footer .subscribe form input[type='text'],
      .col3-footer .subscribe form input[type='email'] {
        padding: 10px 10px;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid #fff;
        outline: none;
        color: #fff; }
        .col3-footer .subscribe form input[type='text']::-webkit-input-placeholder,
        .col3-footer .subscribe form input[type='email']::-webkit-input-placeholder {
          color: #fff; }
    .col3-footer .subscribe input[type='submit'] {
      border: none;
      padding: 10px 50px;
      color: #fff;
      margin-top: 20px; }

@media only screen and (max-width: 1200px) {
  .wh-1920 {
    display: none !important; }
  .wh-1280 {
    display: grid !important; } }

@media only screen and (max-width: 992px) {
  .wh-1920 {
    display: none !important; }
  .wh-1280 {
    display: none !important; }
  .wh-992 {
    display: grid !important; }
  .navtop {
    display: none; }
  .navtop-small {
    display: grid; } }

@media only screen and (max-width: 480px) {
  .navtop-small {
    grid-template-columns: 2fr 1fr; }
    .navtop-small .cross {
      margin-right: 0;
      justify-self: center; }
  .navtop-small-inside {
    padding-bottom: 25px;
    grid-row-gap: 20px;
    max-height: 468px;
    overflow: scroll; }
    .navtop-small-inside .btn {
      grid-template-columns: minmax(100px, 150px);
      padding: 5px 0; }
    .navtop-small-inside .menu {
      font-size: 1rem; } }

@media only screen and (max-width: 1200px) {
  .contnent .content-article {
    grid-template-columns: repeat(2, minmax(200px, 1fr));
    grid-column-gap: 20px;
    grid-row-gap: 0; }
  .content-bottom {
    grid-column: span 2; } }

@media only screen and (max-width: 992px) {
  .contnent {
    grid-template-columns: 1fr; }
    .contnent .content-article {
      grid-template-columns: repeat(1, minmax(200px, 1fr));
      grid-gap: 20px; }
    .contnent .content-article-inner {
      text-align: center; }
      .contnent .content-article-inner .text {
        display: grid;
        align-self: center; }
        .contnent .content-article-inner .text span {
          font-size: 1.6rem; }
  .content-bottom {
    grid-column: span 1; }
  .aside {
    grid-row: 1; }
    .aside > div:not(:first-child) {
      border-top: 1px solid #0CA3D4; }
    .aside h4 {
      margin: 0;
      cursor: pointer;
      background: rgba(12, 163, 212, 0.5);
      color: #fff; }
      .aside h4:hover {
        background: rgba(12, 163, 212, 0.4); }
    .aside .categiry-inner-popular {
      grid-row-gap: 10px;
      padding: 15px; } }

@media only screen and (max-width: 768px) {
  .content-bottom {
    display: none; } }

@media only screen and (max-width: 992px) {
  .footer-inner span {
    font-size: 1rem; }
  .col2-footer .tel .big {
    font-size: 1.1rem; }
  .col1-footer .social {
    grid-auto-columns: 40px;
    grid-auto-rows: 40px; }
    .col1-footer .social .soc {
      font-size: 1.1rem;
      line-height: 40px; } }

@media only screen and (max-width: 768px) {
  .footer .footer-inner {
    grid-auto-flow: row; }
    .footer .footer-inner .hr {
      width: 100%;
      height: 1px;
      margin: 20px 0;
      justify-self: center; } }

@media only screen and (max-width: 768px) {
  .content_news-article-inner {
    grid-auto-flow: row; }
  .content_news-article-text a {
    text-align: center; } }
