body {
  font-size: 15px;
  min-width: 320px;
  position: relative;
  line-height: 1.65;
  font-family: Proxima-ex, sans-serif;
  overflow-x: hidden;
  opacity: 1;
  color: #575757; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.wrap {
  display: grid;
  grid-template-columns: minmax(310px, 1170px);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 10px;
  height: 100%; }

.grid {
  display: grid; }

img {
  width: 100%;
  height: auto; }

h1 {
  font-size: 1.5rem; }

h2 {
  font-size: 1.4rem; }

h3 {
  font-size: 1.3rem; }

h4 {
  font-size: 1.2rem; }

h5 {
  font-size: 1.1rem; }

h6 {
  font-size: 1rem; }

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
  font-weight: normal; }

ul {
  margin: 0;
  padding: 0; }

li {
  list-style: none; }

a {
  color: #0CA3D4;
  text-decoration: none; }

.pulse {
  overflow: visible;
  position: relative;
  z-index: 1; }
  .pulse::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: inherit;
    border-radius: inherit;
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    transition: opacity 0.3s, -webkit-transform 0.3s;
    transition: opacity 0.3s, transform 0.3s;
    transition: opacity 0.3s, transform 0.3s, -webkit-transform 0.3s;
    -webkit-animation: pulse-animation 2s cubic-bezier(0.24, 0, 0.38, 1) infinite;
            animation: pulse-animation 2s cubic-bezier(0.24, 0, 0.38, 1) infinite;
    z-index: -1; }

@-webkit-keyframes pulse-animation {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1); }
  50% {
    opacity: 0;
    -webkit-transform: scale(1.5);
            transform: scale(1.5); }
  100% {
    opacity: 0;
    -webkit-transform: scale(1.5);
            transform: scale(1.5); } }

@keyframes pulse-animation {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1); }
  50% {
    opacity: 0;
    -webkit-transform: scale(1.5);
            transform: scale(1.5); }
  100% {
    opacity: 0;
    -webkit-transform: scale(1.5);
            transform: scale(1.5); } }

.pulse {
  overflow: visible;
  position: relative;
  z-index: 1; }
  .pulse::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: inherit;
    border-radius: inherit;
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    transition: opacity 0.3s, -webkit-transform 0.3s;
    transition: opacity 0.3s, transform 0.3s;
    transition: opacity 0.3s, transform 0.3s, -webkit-transform 0.3s;
    -webkit-animation: pulse-animation 2s cubic-bezier(0.24, 0, 0.38, 1) infinite;
            animation: pulse-animation 2s cubic-bezier(0.24, 0, 0.38, 1) infinite;
    z-index: -1; }

@keyframes pulse-animation {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1); }
  50% {
    opacity: 0;
    -webkit-transform: scale(1.5);
            transform: scale(1.5); }
  100% {
    opacity: 0;
    -webkit-transform: scale(1.5);
            transform: scale(1.5); } }

.btn {
  background: #F86C59;
  position: relative;
  text-transform: uppercase;
  text-align: center;
  padding: 10px 0px;
  justify-self: center;
  border-radius: 2px;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  -webkit-transition: background .5s ease;
  transition: background .5s ease;
  display: grid;
  grid-template-columns: minmax(100px, 200px); }
  .btn:hover {
    background: #fa978a; }
  .btn a {
    color: #fff;
    display: grid;
    align-self: center; }

.pagination {
  display: grid;
  margin-top: 50px;
  grid-template-columns: minmax(310px, 500px);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .pagination .pagination-inner {
    display: grid;
    grid-auto-flow: column; }
  .pagination .next,
  .pagination .prev {
    display: grid;
    width: 10px;
    align-self: center; }

.navtop-small {
  display: none; }

.overfolw {
  overflow: hidden; }

.navwrapper {
  position: fixed;
  width: 100%;
  top: 0;
  height: 70px; }

.menuscroll {
  background: #fff;
  width: 100%;
  -webkit-transition: background 0.5s ease;
  transition: background 0.5s ease;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  z-index: 999999; }

.navtop {
  display: grid;
  grid-auto-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-template-columns: 1fr 3fr 0.7fr 1fr;
  grid-column-gap: 4%; }
  .navtop .logo {
    width: 150px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-self: center; }
  .navtop .menu {
    grid-auto-flow: column;
    grid-auto-columns: -webkit-max-content;
    grid-auto-columns: max-content;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .navtop .menu > li:hover {
      cursor: pointer; }
      .navtop .menu > li:hover > a {
        color: #F86C59;
        font-weight: bold;
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease;
        position: relative; }
        .navtop .menu > li:hover > a:after {
          content: "";
          position: absolute;
          border-bottom: 1px solid #F86C59;
          width: 100%;
          bottom: -10px;
          left: 0px;
          opacity: 1; }
    .navtop .menu > li > a {
      color: #0CA3D4;
      font-weight: bold;
      -webkit-transition: all 0.5s ease;
      transition: all 0.5s ease;
      position: relative; }
      .navtop .menu > li > a:after {
        content: "";
        position: absolute;
        border-bottom: 1px solid #F86C59;
        width: 100%;
        bottom: -10px;
        left: 0px;
        opacity: 0;
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease; }
    .navtop .menu li {
      text-transform: uppercase;
      display: grid;
      -ms-flex-line-pack: center;
          align-content: center;
      position: relative; }
      .navtop .menu li a {
        color: #0CA3D4;
        font-weight: bold;
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease;
        position: relative; }
    .navtop .menu ul {
      display: none; }
  .navtop .menu-item-has-children {
    position: relative; }
    .navtop .menu-item-has-children ul > li > ul {
      left: 101%;
      top: 0; }
  .navtop .sub-menu {
    position: absolute;
    top: 100%;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2); }
    .navtop .sub-menu .menu-item-has-children:after {
      content: "";
      position: absolute;
      background: url("../img/right-arrow.png") no-repeat;
      width: 10px;
      height: 10px;
      right: 5px;
      top: 30%;
      background-size: cover;
      background-position: center;
      -webkit-transform: rotate(-90deg);
              transform: rotate(-90deg);
      -webkit-transition: -webkit-transform 0.5s ease;
      transition: -webkit-transform 0.5s ease;
      transition: transform 0.5s ease;
      transition: transform 0.5s ease, -webkit-transform 0.5s ease; }
    .navtop .sub-menu .menu-item-has-children:hover:after {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg); }
    .navtop .sub-menu li {
      border-bottom: 1px solid #cccccc;
      padding: 0px 40px 0px 10px;
      font-size: 0.8rem;
      min-width: 250px;
      white-space: nowrap;
      background: #fafafa;
      width: 100%; }
      .navtop .sub-menu li a {
        padding: 10px 0; }
      .navtop .sub-menu li a:hover {
        color: #F86C59; }
      .navtop .sub-menu li:last-child {
        border-bottom: none; }
  .navtop .menu-item-has-children:hover > ul {
    display: grid; }
  .navtop .social {
    grid-auto-flow: column;
    font-size: 1.2rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around; }
    .navtop .social .icon {
      color: #0CA3D4;
      -webkit-transition: -webkit-transform 0.5s ease;
      transition: -webkit-transform 0.5s ease;
      transition: transform 0.5s ease;
      transition: transform 0.5s ease, -webkit-transform 0.5s ease; }
      .navtop .social .icon:hover {
        -webkit-transform: scale(1.1);
                transform: scale(1.1); }
  .navtop .btn {
    -ms-flex-item-align: center;
        align-self: center;
    padding: 10px;
    font-size: 0.8rem; }

.nav-top-hide {
  display: none;
  width: 100%;
  position: relative; }

.navtop-small {
  grid-auto-flow: column;
  grid-template-columns: 1fr 2fr;
  -ms-flex-line-pack: center;
      align-content: center; }
  .navtop-small .logo {
    justify-self: center;
    width: 150px; }
  .navtop-small .cross {
    display: grid;
    justify-self: end;
    margin-right: 100px; }
    .navtop-small .cross .hamburger-inner, .navtop-small .cross .hamburger-inner::before, .navtop-small .cross .hamburger-inner::after {
      height: 2px; }
    .navtop-small .cross .hamburger {
      padding: 0;
      display: grid;
      -ms-flex-line-pack: center;
          align-content: center; }

.navtop-small-inside {
  display: grid;
  background: #fff;
  grid-row-gap: 40px;
  padding-bottom: 50px;
  padding-top: 50px;
  text-align: center;
  border-top: 1px solid #e6e6e6; }
  .navtop-small-inside .social {
    grid-auto-flow: column; }
  .navtop-small-inside .socialwrap {
    grid-template-columns: minmax(100px, 250px);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .navtop-small-inside .menu {
    font-size: 1.3rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    grid-template-columns: minmax(310px, 500px); }
    .navtop-small-inside .menu .active {
      display: grid; }
    .navtop-small-inside .menu li {
      display: grid; }
    .navtop-small-inside .menu > li {
      -webkit-transition: background 0.5s ease;
      transition: background 0.5s ease; }
      .navtop-small-inside .menu > li > a {
        -webkit-transition: all .5s ease;
        transition: all .5s ease; }
        .navtop-small-inside .menu > li > a:hover {
          background: rgba(12, 163, 212, 0.2); }
    .navtop-small-inside .menu .sub-menu li {
      text-align: left;
      padding: 5px 0 5px 20px; }
    .navtop-small-inside .menu .menu-item-has-children {
      position: relative; }
      .navtop-small-inside .menu .menu-item-has-children:after {
        content: "";
        position: absolute;
        background: url("../img/right-arrow.png") no-repeat;
        width: 15px;
        height: 15px;
        right: 5px;
        top: 10px;
        background-size: cover;
        background-position: center;
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
        -webkit-transition: -webkit-transform 0.5s ease;
        transition: -webkit-transform 0.5s ease;
        transition: transform 0.5s ease;
        transition: transform 0.5s ease, -webkit-transform 0.5s ease; }
      .navtop-small-inside .menu .menu-item-has-children:hover:after {
        -webkit-transform: rotate(90deg);
                transform: rotate(90deg); }
    .navtop-small-inside .menu .menu-item-has-children:hover .sub-menu li {
      -webkit-transition: all 0.5s ease;
      transition: all 0.5s ease; }
    .navtop-small-inside .menu .menu-item-has-children:hover .sub-menu a {
      -webkit-transition: all .5s ease;
      transition: all .5s ease; }
    .navtop-small-inside .menu .menu-item-has-children:hover .sub-menu a:hover {
      background: rgba(12, 163, 212, 0.2); }
    .navtop-small-inside .menu ul {
      display: none; }

.contnent {
  margin: 70px; }
  .contnent .content-inner h2 {
    text-transform: uppercase;
    margin: 20px 0; }
  .contnent .content-article {
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    grid-gap: 20px; }
    .contnent .content-article .content-article-inner {
      display: grid;
      grid-template-rows: minmax(250px, -webkit-max-content) -webkit-min-content;
      grid-template-rows: minmax(250px, max-content) min-content; }
      .contnent .content-article .content-article-inner .img {
        display: grid; }
        .contnent .content-article .content-article-inner .img img {
          display: grid; }
        .contnent .content-article .content-article-inner .img a {
          position: relative; }
          .contnent .content-article .content-article-inner .img a:after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.2);
            z-index: 9999;
            top: 0;
            left: 0;
            -webkit-transition: background .5s ease;
            transition: background .5s ease; }
          .contnent .content-article .content-article-inner .img a:hover:after {
            background: rgba(0, 0, 0, 0); }
      .contnent .content-article .content-article-inner span {
        font-size: 1.2rem;
        color: #000; }

@media only screen and (max-width: 992px) {
  .navtop {
    display: none; }
  .navtop-small {
    display: grid; } }

@media only screen and (max-width: 480px) {
  .navtop-small {
    grid-template-columns: 2fr 1fr; }
    .navtop-small .cross {
      margin-right: 0;
      justify-self: center; }
  .navtop-small-inside {
    padding-bottom: 25px;
    grid-row-gap: 20px;
    max-height: 468px;
    overflow: scroll; }
    .navtop-small-inside .btn {
      grid-template-columns: minmax(100px, 150px);
      padding: 5px 0; }
    .navtop-small-inside .menu {
      font-size: 1rem; } }
