.navtop
	display: grid
	grid-auto-flow: column
	grid-auto-columns: max-content
	justify-content: center

	.logo
		max-width: 100px
		min-width: 100px

	.menu
		grid-auto-flow: column
		grid-auto-columns: max-content
		align-items: stretch

		li
			padding: 0px 20px
			text-transform: uppercase
			display: grid
			align-content: center

		ul
			display: none

	.menu-item-has-children
		position: relative

		ul > li > ul
			left: 100%
			top: 0

	.sub-menu
		position: absolute
		background: lighten($black, 90%)
		top: 100%

	.menu-item-has-children:hover
		& > ul
			display: grid
	.social
		grid-auto-flow: column
		font-size: 1.2rem
		align-items: center
		.icon
			padding: 0 10px
			color: $blue
			transition: transform .5s ease
			&:hover
				transform: scale(1.1)
