:php
	echo $_POST['wh'];

:php
	get_header();
nav.navwrapper
	.wrap
		.navtop
			.logo.grid
				img(src="<?php echo get_template_directory_uri()?>/img/cbn-blue-logo.png", alt="")

			:php
				wp_nav_menu(array(
					'menu'						=>	'Главное',
					'container'				=>	'div',
					'container_class' =>	'wrapmenu grid',
					'menu_class'			=>	'menu grid',
					'menu_id'					=>	'menu'
				));
			.socialwrap.grid
				.social.grid
					a(href="#!").icon
						.fas.fa-headphones
					a(href="#!").icon
						.fab.fa-youtube
					a(href="#!").icon
						.fab.fa-twitter
					a(href="#!").icon
						.fab.fa-facebook-f
			.donate.grid
				.btn.grid
					a(href="#!") поддержать
		.navtop-small
			.logo.grid
				img(src="<?php echo get_template_directory_uri()?>/img/cbn-blue-logo.png", alt="")
			.cross
				.hamburger.hamburger--slider
					.hamburger-box
						.hamburger-inner
	.nav-top-hide
		.navtop-small-inside
			:php
				wp_nav_menu(array(
					'menu'						=>	'Главное',
					'container'				=>	'div',
					'container_class' =>	'wrapmenu grid',
					'menu_class'			=>	'menu grid',
					'menu_id'					=>	'menu',
				));
			.socialwrap.grid
				.social.grid
					a(href="#!").icon
						.fas.fa-headphones
					a(href="#!").icon
						.fab.fa-youtube
					a(href="#!").icon
						.fab.fa-twitter
					a(href="#!").icon
						.fab.fa-facebook-f
			.donate.grid
				.btn.grid
					a(href="#!") поддержать
section.contnent
	.wrap
		.content-inner
			h2 главные новости
			.content-article
				:php
					if($x == 1){
						$p = 9;
					}
					if($x == 2){
						$p = 6;
					}
					if($x == 3){
						$p = 3;
					}
					$currentPage = get_query_var('paged');
					//- $postperpage = $p;
					$wp_query = new WP_Query(array(
							'post_type'      					=> 'post',
							'posts_per_page' 					=> $p,
							'paged'          					=> $currentPage,
							//- 'cat'											=> array('-2, -8')

					));
					while ($wp_query->have_posts()): $wp_query->the_post();
					if( has_post_thumbnail() ) {

				.content-article-inner
					.img
						a(href="<?php the_permalink();?>")
							:php
									the_post_thumbnail();
					a(href="<?php the_permalink();?>")
						span
							:php
								$theTitle = esc_html (get_the_title());
								echo wp_trim_words($theTitle, 6, '...');
				:php
					}
					else{
				.content-article-inner
					:php
						echo '<img src="'.get_template_directory_uri().'/img/noImg.png" />';
					a(href="<?php the_permalink();?>")
						span
							:php
								$theTitle = esc_html (get_the_title());
								echo wp_trim_words($theTitle, 6, '...');
				:php
					}
				:php
					wp_reset_postdata();
					endwhile;


			.pagination
				.pagination-inner
					:php
						all4site_pagination();
:php
	get_footer();