:php
	get_header();
nav.navwrapper
	.wrap
		.navtop
			.logo.grid
				img(src="<?php echo get_template_directory_uri()?>/img/logo.png", alt="")
			:php
				wp_nav_menu(array(
					'menu'						=>	'Главное',
					'container'				=>	'div',
					'container_class' =>	'wrapmenu grid',
					'menu_class'			=>	'menu grid',
					'menu_id'					=>	'menu'
				));
			.socialwrap.grid
				.social.grid
					a(href="#!").icon
						.fas.fa-headphones
					a(href="#!").icon
						.fab.fa-youtube
					a(href="#!").icon
						.fab.fa-twitter
					a(href="#!").icon
						.fab.fa-facebook-f
					a(href="#!").icon
			.donate.grid
				.btn.grid
					a(href="#!") поддержать
section.contnent
	.wrap
		h1 test
:php
	get_footer();